attrs==21.2.0
blinker==1.4
certifi==2021.5.30
click==8.0.1
decorator==4.4.2
Flask==1.1.2
flask-msearch==0.2.9.2
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
importlib-metadata==3.10.0
iniconfig==1.1.1
intel-openmp==2021.2.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
marshmallow==3.14.0
marshmallow-sqlalchemy==0.26.1
networkx==2.5.1
numexpr==2.7.3
numpy==1.20.2
packaging==21.2
pandas==1.2.5
pluggy==1.0.0
psycopg2-binary==2.9.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.1
pytz==2021.1
scikit-learn==0.24.2
scipy==1.6.2
six==1.16.0
SQLAlchemy==1.4.26
tbb==2021.2.0
threadpoolctl==2.1.0
toml==0.10.2
Werkzeug==1.0.1
Whoosh==2.7.4
WTForms==2.3.3
zipp==3.5.0
