:root {
  --new-car: 
rgba(33, 72, 192, 1);
  --biloba-flower: 
rgba(165, 166, 246, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 45px;

  --font-family-montserrat: "Montserrat";
}


.login-page {
  align-items: flex-start;
  background-color: var(--biloba-flower);
  display: flex;
  height: 1024px;
  padding: 0 80px;
  width: 1440px;
}


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,500,600");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

input {
  background-color: transparent;
}
.block {
  width:100%;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
  display:block;
  text-align:center;
  cursor: pointer;
 
}
